#aa {
    background:rgba(3,132,168,1) url(../img/001.png) no-repeat left top;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

#ab {
    background: url(../img/002.png) no-repeat right top;
    height: 220px; 
    padding-left: 200px;
    padding-top: 50px;
}

#ab h1{
    margin-top: -10px;
    color: white;
    font-family: "STZhongsong";
    text-align: left;
}
.nav a:hover{
    color: rgb(3,132,168);
}
.dropdown-menu li a{
   text-align: center; 
   padding-top: 9%;
   padding-bottom: 9%; 
}
.example{
    background-color: rgb(0,105,134);
    position: relative;z-index: 113;
}
.example ul{
    width: 100%; 
    background-color: rgb(0,105,134);  
}
.example ul li{
    height: 50px;
    vertical-align: middle;
}
.example ul li a{
    color: white;
}

.container{
    width: 95%;
    display: block;
}
.tsil h2{
    border-bottom: 2px solid rgb(3,132,168);
}
.tubord{
    border: 1px solid #000000;
    padding: 5px;
}
.tupian{
    max-width: 100%;
    padding-bottom: 30px;
}
#slidershow h5{
    position: relative;top: 50px;right: 40px;
    white-space: nowrap;
    color: #000000;
    font-family: "STZhongsong";
}

#yqlj h2{
    border-bottom: 2px solid rgb(3,132,168);
}
#yqlj li a{
    white-space: nowrap;
    display: block;
    float: left;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    font-size: 1.2em;
}
#yqlj li a:hover{
    color: rgb(3,132,168);
}
#yqlj ul li{
    line-height: 40px;
    height: 40px;
}

.tsil li a{
    white-space: nowrap;
    display: block;
    float: left;
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    font-size: 1.2em;
    background:url(../img/009.png) no-repeat left;
    text-indent: 20px;
}
.tsil ul li{
    line-height: 40px;
    height: 40px;
    list-style: none;
}

.more{
    float: right;
}
#pp{
    text-indent: 2em;
}
.ll{
    position:relative;right: 30px;
}
.ll a:hover{
    color: blue;
    font-family: "STZhongsong";
}
.time{
    float: right;
}
.outbord{
    border: 1.5px solid #000000;
    max-width: 95%;
    margin: 0 auto;
}
#bac{
    background-color: rgb(3,132,168);
    color: white;
    margin-top: 20px;
}
.hah{
    color: rgb(3,132,168);
    white-space: nowrap;
}
#tzgg h2{
    background:url(../img/004.png) no-repeat left;
    text-indent: 1.3em;
}
#ztyw h2{
    background:url(../img/005.png) no-repeat left;
    text-indent: 1.3em;
}
#xxzl h2{
    background:url(../img/006.png) no-repeat left;
    text-indent: 1.3em;
}
#jygg h2{
    background:url(../img/007.png) no-repeat left;
    text-indent: 1.3em;
}
#yqlj h2{
    background:url(../img/008.png) no-repeat left;
    text-indent: 1.3em;
}


@media screen and (min-width: 1200px) {
    #ab h1{
        text-align: center; 
        margin-top: 35px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 1200px) {
    #ab,#aa{
        background:url(../img/003.png) no-repeat;
        height: 170px;
        background-size: 170px 170px;
    }
    #ab h1{
        color: rgb(0,105,134); 
    }
    #ttit{
    position:relative;right: 14px;
    }
}
@media screen and (min-width: 992px) {}

@media screen and (min-width: 992px) {}


@media screen and (max-width: 768px){
    body{
        padding-top: 50px;
        position: relative;
    }
    .navbar-default {
        position: absolute;top: 0px;right: 0px;
        width: 100%;
        background-color: rgb(0,105,134);
    }
    .dropdown-menu li a{
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #ab,#aa{
        background:url(../img/003.png) no-repeat;
        height: 170px;
        background-size: 120px 120px;
    }
    #ab h1{
        position: absolute;left: 140px;
    }
    .container{
        width: 100%; 
    }    
}